################################ .gitignore for 'reductor'
################ dev
assets/resources
assets/tests
**/outputs/
**/scribblins/
.aaa-todo.md
gradle.properties
src/main/java/reductor/devv

################ Gradle
.gradle/
**/build/

################ IntelliJ
.idea/
*.iml
out/

################ jqwik
.jqwik-database
junit-platform.properties

################ JVM: crash logs
hs_err_pid*
replay_pid*

################ macOS
.DS_Store

################ MuseScore
**/.mscbackup/

################ misc
*.log

################ XML
partwise.dtd
musicxml.xsd
