##### reductor .gitignore #####
###############################

### IDE (Intellij IDEA CE) ###
.idea/      # config files (.xml's)
out/        # build artifacts
*.iml       # module config xml files

# Gradle
.gradle/    		# cache + state
**/build/   		# (multi-module) build artifacts
local.properties	# absolute path the to the android sdk

# Logs
*.log

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

# Misc
.DS_Store   # macOS thumbnail thingy
scratch.md  # scratch/notes