################ .gitignore for 'reductor'

################ (Dev)
assets/
**/.mscbackup/
**/outputs/
**/scribblins/
aaa-todo.md
partwise.dtd
musicxml.xsd
.jqwik-database
gradle.properties
junit-platform.properties

################ (Generic) logs
*.log

################ (Gradle) cache + state
.gradle/
################ (Gradle) build artifacts (multi-module)
**/build/
################ (Gradle) absolute path the to the android sdk
local.properties

################ (IntelliJ) config files (.xml's)
.idea/
################ (IntelliJ) build artifacts
out/
################ (IntelliJ) module config xml files
*.iml

################ (JVM) crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

################ (MacOS) Finder view prefs
.DS_Store

################ (Windows) thumbnail previews
Thumbs.db
